<div class="demo-helper-control collapsed">
    <div class="header">
        DEMO HELPER
    </div>
    <div class="header-right-shadow-mask"></div>
    <div class="body">
        <p class="desc">Code sample links for this page:</p>
		{% if links %}
		<ul>
			{% for link in links %}
				<li>
					<p class="title">{{ link.title }}</p>
					<p><a href="@link.Url" target="_blank">{{ link.url }}</a></p>
				</li>
			{% endfor %}
		</ul>
		{% else %}
		<p class="empty-result">Links not available.</p>
		{% endif %}
    </div>
</div>
