{% extends 'base.html' %}

{% block title %}CLASSES{% endblock %}

{% block content %}
<div class="row schools sections">
	<div class="tophero">
		<div class="col-md-8">
			<div class="secondnav">
				<a href="/Schools"> All Schools</a> > {{ schoolname }}
			</div>
			<div class="a-heading">
				Classes
			</div>
		</div>
		<div class="toptiles">
			<div class="section-school-name">
				{{ schoolname }}
			</div>
			<div class="infocontainer">
				<div class="infoheader">
					PRINCIPAL
				</div>
				<div class="infobody" title="{{ principalname }}">
					{{ principalname }}
				</div>
			</div>
			<div class="infocontainer">
				<div class="infoheader">
					Grade level
				</div>
				<div class="infobody" title="{{ lowestgrade }} - {{ highestgrade }}">
					{{ lowestgrade }} - {{ highestgrade }}
				</div>
			</div>
		</div>
		<div>
			<div class="col-md-4 usericon">
				<div class="icon"></div>
				{% if isstudent %}
				<div>Not Enrolled</div>
				{% else %}
				<div>Not Teaching</div>
				{% endif %}         
				<div class="icon my-class"></div><div>My Class</div>
			</div>
			<div class="col-md-3 filterlink-container">
				<div class="search-container "></div>
				<span>FILTER:</span>
				<a id="filtermyclasses" class="filterlink selected" data-type="myclasses">My Classes</a> | 
				<a id="filterclasses" class="filterlink " data-type="allclasses">All Classes</a>
			</div>
		</div>
		<br style="clear:both;" />
	</div>
	<div class="myclasses-container tiles-root-container">
		<div id="allclasses" class="tiles-secondary-container">
			<div class="section-tiles">
				{% if sections|length == 0 %}
				<div class="nodata"> No classes in this school.</div>
				{% else %}
				<div class="content clearfix">
					{% for section in sections %}
					<div class="tile-container">
						<div class="tile">
							<h5>{{ section.displayname }}</h5>
							<h2>{{ section.combinedcoursenumber }}</h2>
						</div>
						<div class="detail">
							<h5>Course Id:</h5>
							<h6>{{ section.courseId }}</h6>
							<h5>Description:</h5>
							<h6>{{ section.coursedescription }}</h6>
							<h5>Teachers:</h5>
							{% for teacher in section.teachers %}
								<h6>{{ teacher.displayname }}</h6>
							{% endfor %}
							<h5>Term Name:</h5>
							<h6>{{ section.termname }}</h6>
							<h5>Start/Finish Date:</h5>
							<h6>
								<span id="termdate">{{ section.termstartdate }}</span>
								<span> - </span>
								<span id="termdate">{{ section.termenddate }}</span>
							</h6>
							<h5>Period:</h5>
							<h6>{{ section.period }}</h6>
						</div>
					</div>
					{% endfor %}
				</div>
				{% endif %}
				{% if sectionsnextlink %}
				<div class="seemore" id="see-more">
				{% else %}
				<div class="seemore hideitem" id="see-more">
				{% endif %}
					<input id="nextlink" type="hidden" value="{{ sectionsnextlink }}" />
					<input id="schoolid" type="hidden" value="{{ objectid }}" />
					<span>See More</span>
				</div>
			</div>
		</div>
	</div>
	<div class="myclasses-container tiles-root-container">
		<div id="myclasses" class="tiles-secondary-container">
			<div class="section-tiles">
			{% if mysections|length == 0%}
				{% if isstudent %}
				<div class="nodata"> Not enrolled in any classes.</div>
				{% else %}
				<div class="nodata"> Not teaching any classes.</div>
				{% endif %}
			{% else %}
			<div class="content clearfix">
			{% for mysection in mysections %}
				<div class="tile-container">
					<a class="mysectionlink" href="/ClassDetails">
						<div class="tile">
							<h5>{{ mysection.displayname }}</h5>
							<h2>{{ mysection.combinedcoursenumber }}</h2>
						</div>
					</a>
					<div class="detail">
						<h5>Course Id:</h5>
						<h6>{{ mysection.courseId }}</h6>
						<h5>Description:</h5>
						<h6>{{ mysection.coursedescription }}</h6>
						<h5>Teachers:</h5>
						{% for teacher in mysection.teachers %}
						<h6>{{ teacher.displayname }}</h6>
						{% endfor %}
						<h5>Term Name:</h5>
						<h6>{{ mysection.termname }}</h6>
						<h5>Start/Finish Date:</h5>
						<h6>
							<span id="termdate">{{ mysection.termstartdate }}</span>
							<span> - </span>
							<span id="termdate">{{ mysection.termenddate }}</span>
						</h6>
						<h5>Period:</h5>
						<h6>{{ mysection.period }}</h6>
					</div>
				</div>
			{% endfor %}
			</div>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block demohelper %}
<div class="demo-helper-control collapsed">
	<div class="header">DEMO HELPER</div>
    	<div class="header-right-shadow-mask"></div>
		<div class="body">
			<p class="desc">Code sample links for this page:</p>
			<ul>
				<li>
					<p class="title">Controller</p>
					<p><a href="https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Controllers/SchoolsController.cs" target="_blank">https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Controllers/SchoolsController.cs</a></p>
				</li>
				<li>
					<p class="title">View</p>
					<p><a href="https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Views/Schools/Classes.cshtml" target="_blank">https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Views/Schools/Classes.cshtml</a></p>
				</li>
				<li>
					<p class="title">ApplicationService</p>
					<p><a href="https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Services/ApplicationService.cs" target="_blank">https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Services/ApplicationService.cs</a></p>
				</li>
				<li>
					<p class="title">SchoolsService</p>
					<p><a href="https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Services/SchoolsService.cs" target="_blank">https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Services/SchoolsService.cs</a></p>
				</li>
				<li>
					<p class="title">SectionsViewModel</p>
					<p><a href="https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Models/SectionsViewModel.cs" target="_blank">https://github.com/TylerLu/EDUGraphAPI/blob/master/src/EDUGraphAPI.Web/Models/SectionsViewModel.cs</a></p>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block basejs %}
<script src="/static/js/jquery-3.1.1.js"></script>
<script src="/static/js/modernizr-2.6.2.js"></script>
{% endblock %}

{% block localjs %}
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/sections.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/respond.js"></script>
<script src="/static/js/site.js"></script>
{% endblock %}
